.row{
    display: flex;
    gap: 10px;

    .mat-form-field{
        width: 100%;
    }

    .mat-radio-button{
        padding: 0px 15px;
    }
}

::ng-deep .mat-form-field-infix{
    width: 100% !important;
}